#minimize-button:hover {
	cursor: pointer;
}
#maximize-button:hover {
	cursor: pointer;
}
#close-button:hover {
	cursor: pointer;
}
.treeview .list-group-item {
	cursor: pointer;
}

.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px;
}

.treeview span.icon {
	width: 12px;
	margin-right: 5px;
}

.treeview .node-disabled {
	color: silver;
	cursor: not-allowed;
}

.node-treeview-expandible:not(.node-disabled):hover {
	background-color: #f5f5f5;
}

.bg-bar-bottom {
	background-color: rgb(68, 68, 68) !important;
	font-size: 13px !important;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.link-result {
	color: rgb(8, 152, 235);
}

.link-result:hover {
	color: rgb(7, 134, 207);
	cursor: pointer;
}

.scroll-size {
	height: calc(85vh);
}
